
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 220, 188);
    overflow-x: hidden;
}
.logo{
    width: 30%;
    margin-bottom: 19px;
}

.title{
    width: 40%;
    justify-content: center;
    background-color: rgb(200, 200, 238);
    color: black;
    font-size: 15px;
    text-align: center;
    height: 135.5px;
}

.prisoner_image{
    width: 30%;
    height: 135.5px;
}
.title h1{
    margin-top: 5px;
}

.header{
    display: flex;
    margin-bottom: 0;
}
.linknav{
    margin-top: -35px;
    margin-left: 140px;
    margin-bottom: 0;
}

.linknav ul{
    list-style: none;
    width: 100%;
}

.linknav li{
    float: left;
    position: relative;
    width: auto;
    list-style: none;
}

.linknav a{
    background-color: rgb(251, 255, 0);
    display: block;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: blue;
    transition: all 0.2s ease;
    font-weight: 540;
}


.linknav li a:hover{
    background-color: rgb(0, 255, 234);
}

#languages{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

li:hover #languages{
    opacity: 1;
    top: 60px;
    left: -40px;
    visibility: visible;
}

#languages li a:hover{
    background-color: rgb(253, 143, 0);
}

#languages li{
    width: 100%;
}

div{
    display: flex;
    justify-content: center;
  
}

form{
    display: inline-block;
    background-color: rgb(10, 10, 80);
    margin-top: 0;
    color: white;
}

fieldset{
    border-radius: 40px;
}

legend{
    text-align: center; 
    font-size: 25px;
}

fieldset label,input,button{
    display: block;
}

.showin{
    display: flex;
    margin: 10px 0;
    font-size: 20px;

}

footer{
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    font-size: 17px;
    margin-left: 453.5px;
    margin-right: 454px;
    margin-top: 0px;
    height: 84.5px;
    
}

@media only screen  and (max-width: 430px)
{
    body{
        background-color: rgb(253, 239, 213); 
        display: flex;
        flex-direction: column;
        width: 10px;
        height: 800px;
    }
    
    div{
        width: 420px;
        display: flex;
        justify-content: center;
      
    }
    
    form{
        display: inline-block;
        background-color: rgb(10, 10, 80);
        margin-top: 15px;
        color: white;
    }
    
    fieldset{
        border-radius: 40px;
    }
    
    legend{
        text-align: center; 
        font-size: 5px;
    }
    
    fieldset label,input,button{
        display: block;
    }
    
    footer{
        background-color: rgb(41, 41, 41);
        color: white;
        text-align: center;
        margin-left: 0;
        width: 430px;
    }
}