body{
    margin: 0;
    padding: 0;
    background-image: url('../Images/forsecurity.jpg');
    background-size: cover;
}

div{
    width: 40%;
    justify-content: center;
    margin: auto;
    text-align: center;
}
fieldset{
    border: 2px solid rgb(0, 0, 41);
    margin-top: 25px;
}
label{
    font-size: 18px;
}
legend{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}
#google_translate_element{
    display: none;
}