body {
    background-image: url('../Images/background-purple.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 47px;
}

h2 {
    text-align: center;
    color: rgb(0, 141, 0);
    font-size: 37px;
    margin-bottom: 25px;
}
.columndisplay{
    display: flex;
    flex-direction: column;
}
.linked{
    margin-top: -55px;
    margin-left: 20px;
}

.jpis {
    width: 10%;
}

.logo {
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: #ff7200;
    margin-left: 5px;
}
.linknav {
    margin-left: -50px;
    margin-bottom: 60px;
    border-radius: 50px;
    margin-top: 30px;
}

.linknav ul {
    list-style: none;
    width: 100%;
}

.linknav li {
    float: left;
    position: relative;
    width: auto;
    list-style: none;
}

.linknav a {
    background-color: #ff7200;
    display: block;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: white;
    transition: all 0.2s ease;
    font-weight: 540;
    border-radius: 50px;
}

.linknav li a:hover {
    background-color: rgb(253, 143, 0);
}
.goog-te-gadget img {
    display: none !important;
  }
  .goog-te-combo {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }

  .goog-te-combo-arrow {
    display: none; 
  } 
  /* Style the language options */
  .goog-te-menu-value {
    font-size: 14px;
    color: #333;
  }

#languages {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}

li:hover #languages {
    opacity: 1;
    top: 60px;
    left: -40px;
    visibility: visible;
} */ 

#languages li a:hover {
    background-color: rgb(253, 143, 0);
}

#languages li {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header {
    text-align: center;
    width: 80%;
    margin-left: -80px;
}

.logout {
    width: 10%;
    margin-top: 40px;
    margin-left: -75px;

}

.confirmation-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 250px;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 145, 0);
    border: 1px solid #000000;
    padding: 20px;
    z-index: 1000;
    border-radius: 20%;
}

 .confirmation-box p {
    font-size: 40px;
}

.confirmyes {
    margin-right: 60px;
    margin-left: 40px;
}

.confirmation-box button {

    font-size: 38px;
}

.admintasks {
    width: 50%;
    margin-left: 140px;
    margin-top: 50px;
}

.admintasks input {
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
}

.imageofadmin {
    width: 50%;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 50px;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    font-size: 35px;
}

button:hover {
    transform: translate(-5px, -5px);
    transition: all .5s;
}
@media(max-width: 1260px){
    .imageofadmin img{
        width: 500px;
        height: 400px;
    }
}
@media(max-width: 1060px){
    .admintasks button, .admintasks input{
        font-size: 25px;
    }
}
@media(max-width: 960px){
    .imageofadmin img{
        width: 400px;
        height: 350px;
    }
}
@media(max-width: 850px){
    .admintasks button, .admintasks input{
        font-size: 18px;
        width: 250px;
    }
    .admintasks input{
        width: 230px;
    }
}
@media(max-width: 789px){
    .imageofadmin img{
        width: 370px;
        height: 300px;
    }
}
@media(max-width: 762px){
    .imageofadmin img{
        width: 300px;
        height: 300px;
    }
}
@media(max-width: 690px){
    .imageofadmin img{
        width: 270px;
        height: 250px;
    }
    .admintasks button, .admintasks input{
        font-size: 18px;
        width: 220px;
    }
    .admintasks input{
        width: 200px;
    }
}
@media(max-width: 640px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}